* {
    box-sizing: border-box;
}
nav {
    width: 100%;
}

main {
    margin-top: 50px;
    margin-bottom: 40px;
    min-height: 1000px;
    width: 100%;
    background: url("../image/scott-webb-OxHPDs4WV8Y-unsplash.jpg") no-repeat center ;
    background-size: cover;
    border-style: solid;   
    border-width: 1px;
    border-color: rgb(255, 255, 255);
}

section {
    margin-top: 50px;
    margin-bottom: 50px;
}

#my-name {
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(26, 150, 155);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

img {
    display: block;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(26, 150, 155);
    font-family: 'Times New Roman', Times, serif;
}

.grey-border {
    background-color: grey;
    height: 1px;
}

.bio-img {
    margin-right: 20px; 
    width: 200px;  
}

.bio {
    float: inline-start;
}


footer {
    background-color: rgb(56, 56, 56);
    color: rgb(114, 113, 113);
    height: 50px;
}

.green-border {
    background-color: rgb(26, 150, 155);
    height: 4px;
}

footer h2 {
    font-size: 20px;
    padding-top: 10px;
}